@import '../../index.scss';

#dashboard {
  margin: auto;
  width: calc(100vw - 4rem);
  display: grid;
  grid-template-columns: 1fr 32.5rem;
  gap: 2rem;
  flex: 1 400px;

  .questions {
    display: grid;
    gap: 2rem;
  }
}