@import '../../index.scss';

#matter {
  margin: auto;
  width: calc(100vw - 4rem);
  display: grid;
  grid-template-columns: 1fr 32.5rem;
  gap: 2rem;
  flex: 1 400px;

  .questions {
    display: grid;
    gap: 2rem;

    .matter-title {
      text-align: center;

      h2 {
        font-size: 2rem;
      }

      .description {
        font-size: 1.25rem;
      }
    }

    .matter-nav {
      display: flex;
      gap: 1rem;
    }

    .container-dashboard {
      .cards {
        grid-template-columns: repeat(3, calc(33% - 1.15rem));

        .card {
          p {
            word-break: break-word;
          }

          .nav-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            height: 2.5rem;

            .tags {
              margin-top: 0rem;
            }

            svg {
              width: 2.5em;
              height: 2.5rem;

              background-color: transparent;

              visibility: hidden;
              opacity: 0;
              transition: 0.3s all;

              &:hover {
                box-shadow: 0 0 10px #fff;
                animation: 0.3s bg-w-hover ease-in-out forwards;
              }
            }
          }

          &:hover {
            .nav-card {
              svg {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}