@import '../../index.scss';

#matter {
  margin: auto;
  width: calc(100vw - 4rem);
  display: grid;
  grid-template-columns: 1fr 32.5rem;
  gap: 2rem;
  flex: 1 400px;

  .questions {
    display: grid;
    gap: 2rem;

    .matter-title {
      text-align: center;

      h2 {
        font-size: 2rem;
      }

      .description {
        font-size: 1.25rem;
      }
    }

    .matter-nav {
      display: flex;
      gap: 1rem;
    }

    .container-dashboard {
      .cards {
        grid-template-columns: repeat(3, calc(33% - 1.15rem));
      }
    }
  }
}