@import '../../index.scss';

.container-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 22rem;
}

.is-matter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  h1 {
    text-align: center;
    width: 100%;

    font-size: 3.5rem;
    font-weight: 600;
  }

  img {
    width: 32.5rem;
    margin: auto;
  }
}

.matter-link {
  text-align: center;
  font-size: 1.25rem;
  color: $dark-blue;

  &:hover {
    color: $blue;
  }
}